/*
 * Empty Stylesheet file.
 */


.white-background{
    -fx-background-color: '#fff'; 
}
.right-side-border{
    -fx-border-color: '#6F6F6F';
    -fx-border-width:  0 1 0 0;
}

.search-container{
    -fx-border-color: '#6F6F6F';
    -fx-border-radius: 30;
}
.transparent{
    -fx-background-color:rgba(0,0,0,0);
}

.primary_color{
    -fx-background-color: #EFF2F6;
}

.card{
    -fx-background-color:#fff;
    -fx-background-radius: 10;
    
}

.image_backgroud {
    -fx-background-image: url('../images/2.jpg');
}

.img{
    
     -fx-background-image:url('../images/13.jpg');
      -fx-background-size: 100% 90%; 
    -fx-background-repeat: no-repeat;
}

.transparent-button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border: 1px solid #000; /* You can add a border for better visibility */
    -fx-color: #000; /* Set text color */
    -fx-padding: 10px 20px; /* Adjust padding as needed */
    -fx-cursor: pointer; /* Add cursor style to indicate interactivity */
}

.title{
    
  -fx-background-image: url('../images/title.png');
    -fx-background-size: 100% 100%;  
    
    
}